.notification {
  line-height: 24px;
}

.spinner {
  animation: spin 2s linear infinite;
  border: 4px solid #fff;
  border-top: 4px solid #00aeef;
  border-radius: 50%;
  height: 24px;
  margin-right: 6px;
  -webkit-animation: spin 2s linear infinite;
  width: 24px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}